<section class="row promo">
  <h2>
    <small>Introducing</small>
    <br>
    <strong>Holiday Collection</strong>
  </h2>
</section>

<section class="row root-products">
  <h4><strong>Recently Added</strong></h4>


</section>