<section class="row promo">
  <h2>
    <small>Introducing</small>
    <br>
    <strong>Holiday Collection</strong>
  </h2>
</section>
<h4 class="recently-added-header"><strong>Recently Added</strong></h4>
<hr>
<section class="row root-products">
  <% Product.recently_added.each do |product| %>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag(product.photo_url, size: "250x250", alt: "product image" )%>
      <br>
      <%= link_to product.name, product_path(product) %>
      <br>
      <p><%= number_to_currency(product.price) %></p>
    </div>
  </div>
  <% end %>


</section>