<main>
  <header>Welcome to your dashboard: <%=@merchant.username %></header>
</main>

<section>
  <h2>Summary: </h2>
  <p><%= link_to %></p>
</section>
<!--Will need to add Merchant's products -->
<!--Will need to add Merchant's orders -->



