<%= form_with model: @item do |f| %>
  <section>
    <div class="form-group">
      <%= f.label :quantity %>
      <!-- validation when you check out if someone else checks out and buys the product before you -->
<!--      @item.product.inventory_stock-->
      <%= f.select :quantity, options_for_select(1..20),
                   {},
                   class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.submit "#Update", class: "btn btn-primary" %>
    </div>
  </section>
<% end %>