/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@font-face {
  font-family: 'holly_and_berriesregular';
  src:font-url('fonts/holly_and_berries-webfont.woff');
  src:font-url('fonts/holly_and_berries-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  font-family: 'Sacramento', cursive;
  font-size: 1.5rem;
  background-color: red;
  margin-bottom: 2rem;
}

.navbar a {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sacramento', cursive;
  color: #f14c42;
}

header h1 {
  text-align: center;
  font-family: 'holly_and_berriesregular', Arial, sans-serif;
  background-color: forestgreen;
  color: white;
  padding: 30px;
  margin-bottom: 0px;
  letter-spacing: 3px;
  font-size: 125px;
}

header h1 a {
  text-decoration: none;
  color: red;
}

header h1 a:hover {
  text-decoration: none;
  color: white;
}

header h1 small {
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  color: whitesmoke;
  font-size: small;
  margin-top: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #cfeac3;
  margin: auto;
}

main {
  padding-right: 2rem;
  padding-left: 2rem;
}

.promo {
  background-image: url("holyhollypromobanner.jpg");
  background-color: #cccccc;
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
}

.recently-added-header {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.root-products {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 20px;
  margin-left: 20px;

}

.root-products ul {
  list-style-type: none;
}

.root-products h4 {
  color: #1c7430;
}

footer {
  font-size: small;
  margin-top: 2rem;
  background-color: forestgreen;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

// cart
.cart-header {
  text-align: center;
  padding-bottom: 10px;
}

.cart-cost, .checkout {
  text-align: end;
  margin-right: 5%;
}

.cart-item {
  display: flex;
  flex-direction:row;
  margin-bottom: 1rem;
}

.column {
  flex: 1;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
}

.cart-item form {
  display: inline-block;
}

.form-inline .form-group {
  margin-bottom: 5%;
}

.cart-item img {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}

hr {
  border-top: 0.5rem dotted red;
}

ul {
  list-style-type: none;
}

#empty-cart-msg {
  margin-top: 1rem;
  text-align: center;
}

// new order
.new-order-form, .product-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.new-order-form .btn, .product-form btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#pagination {
text-align: center;
}

// product detail page
.product-img {
  float: left;
  margin-right: 2rem;
}

.product-desc {
  margin: 2rem auto;
}

// order detail page
.order-info {
  float: left;
  width: 50%;
}

.billing-info {
  float: right;
}

.cancel-order-btn {
  margin-top: 2rem;
}

.order-items-table {
  text-align: center;
  width: 50%;
}

.order-items-table th {
  padding: 1rem;
  background-color: gold;
}

.order-items-table td {
  padding: 1rem;
}

.order-items-table tr:nth-child(odd) {
  background-color: whitesmoke;
}

.order-items-table tr:nth-child(even) {
  background-color: lightgray;
}

.merchant-table-index {
  font-size: 1.5rem;
}