<h2 class="new-form-heading">Add a new category</h2>
<section class="form-section">
  <%= form_with model: @category do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class:"form-control" %>
      </div>

      <%= f.submit "Add Category", class: "btn btn-success" %>
  <% end %>
</section>