<%if @merchant%>
<h2><%= @merchant.username %>'s Holiday Shop </h2>
<%end %>
<h2>Products: </h2>
<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %>
    </li>
  <% end %>
</ul>

<%= button_to "Back to Merchants Page", merchants_path, method: :get %>